    .proPicture{
        position: absolute; top: 0px; left: 450px; 
        border: 1px solid black; 
        height: 190px; width: 200px; border-radius: 100px; object-fit: cover;
    }
    .squareButton{
        list-style: square; list-style-position: inside;
    }
    .adjustPS{
        text-align: justify;
    }